/* Stylesheet For Particular Projects */

body {
  background-color:'white'
}
#menu{
	height: 50px;
	width: 100vw;
	background-color: black;
}
#svg{
	position:absolute;
	width: 600px;
	height: 600px
}

#img{
	position: absolute;
	width: 60px;
	height: 60px;
	top:200px;
	left:200px;
}

#svgcontainer{
	width: 600px;
	height: 600px;
}

