/* Stylesheet For Particular Projects */

body {
  background-color:black
}
#menu{
	height: 50px;
	width: 100vw;
	background-color: black;
}
#svgcontainer{
	width: 1200px;
	height: 799px;
}
#svg{
	position:absolute;
	width: 1200px;
	height: 799px
}

#img{
	position: absolute;
	width: 1200px;
	height: 799px;
}

#shockimg{
	width:1000px;
	max-height: 100%;
	margin-right: auto;
	margin-left: auto
}



